{% extends 'blog/base.html' %}
{% block content %}
<div>
    <div class="panel panel-default">
        <a href="group">
    <div class="panel-heading">Group One</div></a>
    <div class="panel-body">Panel Content</div>
    </div>

    <div class="panel panel-default">
        <a href="group">
    <div class="panel-heading">Group Two</div></a>
    <div class="panel-body">Panel Content</div>
    </div>

    <div class="panel panel-default">
        <a href="group">
    <div class="panel-heading">Group Three</div></a>
    <div class="panel-body">Panel Content</div>
    </div>
</div>

{% endblock %}
